<!DOCTYPE html>
<html>
<head>
    <title>Tic-Tac-Toe</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="resources/angular-material.css"/>

    <script src="libs.js"></script>
    <script src="tic-tac-toe.js"></script>
</head>

<body ng-app="ticTacToe" ng-controller="GameController as vm" ng-strict-di ng-cloak>

<md-content layout-padding>

    <section>
        <form name="gameConfig" novalidate>

            <div layout="column">

                <div layout="row">

                    <h2 class="md-subhead" flex="25">Board</h2>

                    <md-input-container flex>
                        <label>Rows</label>
                        <input type="number" name="rows"
                               required min="3" max="20"
                               ng-disabled="vm.gameExists"
                               ng-model="vm.gameConfig.board.rows"/>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Columns</label>
                        <input type="number" name="columns"
                               required min="3" max="20"
                               ng-disabled="vm.gameExists"
                               ng-model="vm.gameConfig.board.columns"/>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Connect</label>
                        <input type="number" name="connectHowMany"
                               required min="3" max="5"
                               ng-disabled="vm.gameExists"
                               ng-model="vm.gameConfig.connectHowMany"/>
                    </md-input-container>

                </div>

                <div layout="row">

                    <h2 class="md-subhead" flex="25">Players</h2>

                    <md-input-container flex>
                        <label>Crosses (X)</label>
                        <md-select ng-disabled="vm.gameExists"
                                   ng-model="vm.gameConfig.players[vm.PIECES.X]">
                            <md-option ng-value="player" ng-repeat="player in vm.playerList">{{player.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Noughts (O)</label>
                        <md-select ng-disabled="vm.gameExists"
                                   ng-model="vm.gameConfig.players[vm.PIECES.O]">
                            <md-option ng-value="player" ng-repeat="player in vm.playerList">{{player.name}}</md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div layout="row">

                    <h2 class="md-subhead" flex="25">Game</h2>

                    <md-input-container flex>
                        <label>Rounds</label>
                        <input type="number" name="connectHowMany"
                               required min="1"
                               ng-disabled="vm.gameExists"
                               ng-model="vm.gameConfig.rounds"/>
                    </md-input-container>

                    <md-input-container flex>
                        <label>First player</label>
                        <md-select ng-disabled="vm.gameExists"
                                   ng-model="vm.gameConfig.firstPlayer">
                            <md-option ng-value="'RANDOM'">Random</md-option>
                            <md-option ng-value="vm.PIECES.X">Crosses (X)</md-option>
                            <md-option ng-value="vm.PIECES.O">Noughts (O)</md-option>
                        </md-select>
                    </md-input-container>

                </div>

            </div>

        </form>
    </section>

    <section>

        <div layout="row" layout-align="center center">

            <md-button class="md-primary md-raised"
                       ng-if="!vm.gameExists"
                       ng-disabled="!gameConfig.$valid"
                       ng-click="vm.startGame()">
                <md-icon md-svg-icon="play"></md-icon> Play
            </md-button>

            <md-button class="md-primary md-raised"
                       ng-if="vm.gameExists"
                       ng-disabled="!(vm.paused && vm.gameExists)"
                       ng-click="vm.setPaused(false)">
                <md-icon md-svg-icon="play"></md-icon> Play
            </md-button>

            <md-button class="md-raised"
                       ng-disabled="!(!vm.paused && vm.gameExists)"
                       ng-click="vm.setPaused(true)">
                <md-icon md-svg-icon="pause"></md-icon> Pause
            </md-button>

            <span flex></span>

            <md-button ng-disabled="!(vm.gameExists)"
                       class="md-warn md-raised"
                       ng-click="vm.endGame()">
                <md-icon md-svg-icon="stop"></md-icon> End
            </md-button>
        </div>

    </section>

    <section>

        <div layout="row" layout-padding layout-margin>
            <board flex="100" num-rows="vm.gameConfig.board.rows" num-cols="vm.gameConfig.board.columns"></board>
        </div>

    </section>


</md-content>

</body>

</html> 